.font_inconsolata {
  font-family: 'Inconsolata', monospace;
  font-weight: lighter;
}
.font_standard {
  font-family: 'Old Standard TT', serif;
  font-style: oblique;
  font-size:200%
}
.font_diner {
  font-family: 'Fontdiner Swanky', cursive;
  text-shadow: 4px 4px 4px #aaa;
  letter-spacing: 3px;
}
.font_alegreya {
  font-family: 'Alegreya', serif;
  font-size: 120%
}
.font_lustria {
  font-family: 'Lustria', serif;
  line-height: normal;
}
.font_ubuntu {
  font-family: 'Ubuntu', sans-serif;
  text-align: right;
}
.font_raleway {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
}
.font_slabo {
  font-family: 'Slabo 27px', serif;
}
