*{
  box-sizing: border-box;
}
a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}
body {
  margin: auto; /*I had auto here before but I got no margins*/
  min-height: 75rem;
  padding-top: 5rem;
  /*background-color: #DE733A;*/
}

h2 {
  text-decoration: underline;
  font-weight: bolder;
  text-align:left;
  font-size: 27px;
}

section {
  margin-left:0px;
}

.introductionBox {
  width: 95%;
}

.leftColumn {
  width: 80%;
}

img {
  position: absolute;
  top: 20px;
  right: 1%
}

.sample {
  border: 1px solid black;
  margin-top:30px;
}

.allProjects {
  overflow:hidden;
  clear:both;
}

/*margin-right: 1px;*/
.project1 {
border: 1px solid black;
margin-top:5%;
float: left;
}

.project2 {
border: 1px solid black;
margin-top: 5%;
float: left;
}

.project3 {
border: 1px solid black;
margin-top:5%;
float: left;
}

section > h2 {
  background-color: red;
}

div > h2 {
  background-color: red;
}

/* media queries */

   /* large screen */
   @media (min-width: 992px){

     .project1 {
       text-align:left;
     }
     .project2 {
       text-align:center;
     }
     .project3 {
       text-align:right;
     }
   }
   @media (min-width: 768px) and (max-width: 991px){
     .project1 {
       text-align:left;
     }
     .project2 {
       text-align:right;
     }
     .project3 {
       text-align:center;
     }
   }
   @media (max-width: 767px){
     .project1 {
       text-align:left;
     }
     .project2 {
       text-align:left;
     }
     .project3 {
       text-align:left;
     }
     img {
       width:50px;
       height:75px;
     }
   }
